<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.Bd_CATec" connectionString="Data Source=mssql08.sys10.hostasp.net;Initial Catalog=CRBIT;User ID=crbit;Password=pescado2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>